.weather-info {
    background: rgba(255, 255, 255, 0.2); /* Translucent background */
    backdrop-filter: blur(5px); /* Blur effect for the background */
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
  }
  
  .weather-temp {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .weather-description {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .weather-sun-times {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .weather-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .weather-stats div {
    display: flex;
    align-items: center;
  }
  
  .sunrise, .sunset, .wind-speed, .humidity, .pressure {
    font-size: 18px;
  }
  